!!Font
Xft.dpi:        71
Xft.antialias:  true
Xft.rgba:       rgb
Xft.autohint:	true
Xft.hintstyle:  hintfull
Xft.lcdfilter:	lcdfilter

!! Colorscheme
*.foreground:  #E0E0E0
*.background:  #212121
*.cursorColor: #B0B0B0

! Black
*.color0:      #161819
*.color8:      #7f7061

! Red
*.color1:      #D84315
*.color9:      #FF5722

! Green
*.color2:      #00c853
*.color10:     #2e7d32

! Yellow
*.color3:      #ffff8d
*.color11:     #f9a825

! Blue
*.color4:      #90caf9
*.color12:     #1976d3

! Magenta
*.color5:      #f8bbd9
*.color13:     #f06292

! Cyan
*.color6:      #80deea
*.color14:     #00838f

! White
*.color7:      #e1e1e1
*.color15:     #ffffff

!! Xterm
xterm*faceName: Ubuntu Nerd Mono 
xterm*faceSize: 12
xterm*renderFont: true
